body {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar.bg-transparent {
    background-color: rgba(255, 255, 255, 0) !important;
}

#navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
