body {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar.bg-transparent {
    background-color: rgba(255, 255, 255, 0);
}

#navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav-link-bg {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    padding: 0 8px;
    width: 90px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px; /* 添加这一行以使文本垂直居中 */
    color: inherit;
}
.nav-link-bg.active {
    background-color: rgba(0, 0, 0, 0.5);
}


.nav-link-bg:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-link:hover {
    animation-name: fa-bounce;
    animation-duration: 1s;
    color: #ffff;
}


.nav-site:hover {
    animation-name: rubberBand;
    animation-duration: 1s;
    color: #ffff;
}

@media (max-width: 991.98px) {
    #navbarNav {
        position: absolute;
        top: 56px;
        right: 0; /* 确保菜单靠右对齐 */
    }
}
