body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.section {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#home {
    background-image: url("{% static 'img/background.jpg' %}");
    background-size: cover;
    background-position: center;
    color: #fff;
}
#home #about, #resume,#work,#contact {
    padding: 40px;
}
