body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


html,
body {
    height: 100%;
}

.container {
    max-width: 100%;
    padding: 0;
}

/* --------------------------------------------- section-----------------------------------------------*/

section {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------Home section-------------------------------------*/
/* ---------------------------------------------Home section-------------------------------------*/
:root {
  --home-font-kaushan: 'Kaushan Script', sans-serif;
  --home-font-extrabold: 'ExtraBold 800 Italic', sans-serif;
  --home-white: #ffffff;
  --home-text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

#home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  z-index: -1;
}


.home-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--home-white);
}

#home-heading {
  font: 120px/1.1em var(--home-font-kaushan);
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: var(--home-text-shadow);
}

.home-parent-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#home-content h3 {
  font-family: var(--home-font-extrabold);
  font-size: 42px;
  margin: 0 auto;
}

#home-content h4 {
  font-family: var(--home-font-extrabold);
  font-size: 30px;
  margin: 0 auto;
  white-space: nowrap;
}

.home-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 1rem;
}

.home-photo ::before{
background-color: rgba(0, 0, 0, 0.9);
}


@media (max-width: 767px) {
  #home-heading {
      font-size: 80px;
  }

  #home-content h3 {
      font-size: 24px;
      white-space: normal;
  }
}

/* ---------------------------------------------about section-------------------------------------*/
/* ---------------------------------------------about section-------------------------------------*/
:root {
  --about-font-primary: 'Montserrat', sans-serif;
  --about-font-secondary: 'Raleway', sans-serif;
  --about-white: #ffffff;
  --about-black-rgba: rgba(0, 0, 0, 0.1);
  --about-btn-hover-bg: #40838e;
  --about-btn-hover-gradient: linear-gradient(to bottom, #17a2b8, #127e8a);
  --about-btn-hover-border: #127e8a;
  --about-transition-duration: 0.3s;
  --about-animation-duration: 1s;
}

.about-section {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  position: relative;
  padding: 100px 0;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--about-black-rgba);
  z-index: -1;
}

.about-title {
font-family: var(--about-font-primary);
font-size: 48px;
font-weight: 700;
margin-bottom: 40px;
color: var(--about-white);
}

.about-text {
font-family: var(--about-font-secondary);
font-size: 18px;
line-height: 1.6;
margin-bottom: 30px;
color: var(--about-white);
}

#about img {
max-width: 70%;
border-radius: 20px;
transition:
transform var(--about-transition-duration) ease-in-out, box-shadow var(--about-transition-duration) ease-in-out;
}

#about img:hover {
transform: scale(1.1);
box-shadow: 0 10px 20px rgb(253, 253, 253);

}

.btn-primary:hover {
background-color: var(--about-btn-hover-bg);
background-image: var(--about-btn-hover-gradient);
border-color: var(--about-btn-hover-border);
animation-name: pulse;
box-shadow: 0 0 10px 5px rgba(226, 220, 220,0.8);
}

.animate__animated {
animation-duration: var(--about-animation-duration);
animation-fill-mode: both;
}

@media (max-width: 767px) {
#about img {
max-width: 100%;
}
}

/* Animation performance */
#about img {
will-change: transform, box-shadow;
}
/* ---------------------------------------------resume section-------------------------------------*/
/* ---------------------------------------------resume section-------------------------------------*/

:root {
  --font-Segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
  --resume-text-color: #333;
  --resume-primary-color: #01b056;
  --resume-timeline-color: #4738d2;
  --resume-secondary-color: #666;
  --resume-tertiary-color: #4a4a4a;
  --resume-white-space: 16px;
  --resume-title-font-size: 2.5rem;
  --resume-heading-font-size: 1.8rem;
  --resume-degree-font-size: 1.4rem;
  --resume-project-font-size:1.1rem;
  --resume-description-font-size:1rem;
  --resume-description-font-family: 'Segoe UI', sans-serif;
  --resume-text-font-size: 1.2rem;
  --resume-list-item-hover-color: #f2f2f2;
  --resume-icon-color: #0a7f8a;
  --resume-icon-size: 18px;
}

/* ------------------------------ resume ------------------------------ */

#resume {
  background-image: url('../img/glass.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  position: relative;
  padding: 100px 0;
}

.resume-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: var(--font-Roboto), var(--font-Segoe);
  line-height: 1.6;
  color: var(--resume-text-color);
  position: relative; /* Add this line */
}

/* ------------------------------ fadeIn ------------------------------ */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------------------ resume-sections settings------------------------------ */

.resume-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--resume-white-space);
}

/* ------------------------------ resume-section-heading ------------------------------ */

.resume-section-heading {
  font-size: var(--resume-heading-font-size);
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--resume-text-color);
  transition: all 0.3s ease;
}

/* --------------------------------------------------- resume-content-section  settings----------------------------------------------------------- */

.resume-education-section, 
.resume-skills-section, 
.resume-certifications-section, 
.resume-projects-section {
  margin-top: var(--resume-white-space);
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 3px 6px rgba(10, 10, 10, 0);
  transition: box-shadow 0.3s;
}

.resume-education-section:hover,
.resume-skills-section:hover, 
.resume-certifications-section:hover,
 .resume-projects-section:hover {
  box-shadow: 0px 6px 12px rgb(75, 108, 81);
}

/* -------------------------------------------------- resume-list ---------------------------------------------------------------- */

.resume-education-list, 
.resume-skills-list, 
.resume-certifications-list, 
.resume-projects-list {
  list-style: none;
  padding: 0;
}

.resume-education-list li, 
.resume-skills-list li, 
.resume-certifications-list li, 
.resume-projects-list li {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--resume-list-item-hover-color);
  border-radius: 5px; 
  transition: all 0.3s ease;
}
/* ------------------------------------- timeline ------------------------------------------- */
.resume-education-list li:before,
.resume-skills-list li:before,
.resume-certifications-list li:before,
.resume-projects-list li:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--resume-timeline-color);
  left: 0;
  top: 0;
  margin-left: -10px;
  z-index: 2;
}

  /* ------------------------------ resume-content li hover: ------------------------------ */
  
  .resume-education-list li:hover,
  .resume-skills-list li:hover,
  .resume-certifications-list li:hover,
  .resume-projects-list li:hover {
    transform: translateY(-6px);
    background-color: #e0e0e0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  

/* ----------------------------------------------------------- resume-degree-title ----------------------------------------------------------- */

.resume-degree-title {
  font-size: var(--resume-degree-font-size);
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--resume-text-color);
}

/* ------------------------------ resume-school-name ------------------------------ */

.resume-school-name, .resume-graduation-date {
  font-size: var(--resume-text-font-size);
  color: var(--resume-secondary-color);
  margin-bottom: 5px;
}

/* --------------------------------------------------------- skill-item --------------------------------------------------------- */

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.skill-item span {
  margin-right: 10px;
  display: inline-block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ------------------------------ skill-rating ------------------------------ */

.skill-rating {
  flex: 1;
  height: 5px;
  background-color: var(--resume-tertiary-color);
  position: relative;
  display: inline-block;
}


.skill-bar {
  width: 0; /* Set an initial width */
  height: 5px;
  background-color: var(--resume-primary-color);
  position: absolute;
  left: 0;
  top: 0;
}

/* ------------------------------ resume-project-content ------------------------------ */

.resume-project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  justify-content: space-between
}

/* ------------------------------ resume-project-title-container ------------------------------ */

.resume-project-title-container {
  margin-right: 10px;
  background-color: transparent;
}

/* ------------------------------ resume-project-title ------------------------------ */

.resume-project-title {
  font-size: var(--resume-project-font-size);
  font-weight: bold;
  color: var(--resume-text-color);
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* ------------------------------ resume-project-description-container ------------------------------ */

.resume-project-description-container {
  width: 60%;
  background-color: var(--resume-list-item-hover-color);
  padding: 10px;
  border-radius: 5px;
}

.resume-project-description-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------ resume-project-description ------------------------------ */

.resume-project-description {
  font-size: var(--resume-description-font-size);
  color: var(--resume-secondary-color);
  margin-bottom: 5px;
}

/* ----------------------------------------------------------- responsive styles ----------------------------------------------------------- */

@media (max-width: 767px) {
  .resume-container {
    grid-template-columns: 1fr;
    grid-gap: var(--resume-white-space);
  }

  .resume img {
    max-width: 100%;
  }
}

/* ---------------------------------------------works section-------------------------------------*/
/* ---------------------------------------------work section-------------------------------------*/
#work {
  background: linear-gradient(45deg,#f8f8f8 50%, #e0e0e0 50%);
  background-size: cover;
  padding: 50px 0;
  }
  
  /* ---------------------------------------------gallery container-------------------------------------*/
  .gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  gap: 1rem;
  }
  
  /* ---------------------------------------------card-------------------------------------*/
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex: 0 0 calc(50% - 1rem); /* Change this value to adjust the card width */
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  
  
  .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  }
  
  /* ---------------------------------------------thumbnail-------------------------------------*/
  .thumbnail {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  border-radius: 8px 8px 0 0;
  }
  
  /* ---------------------------------------------description-------------------------------------*/
  .card-info {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  opacity: 0;
  padding: 16px;
  position: absolute;
  transform: translateY(100%);
  transition: all 0.3s ease;
  width: 100%;
  }
  
  .card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
  }
  
  .card-info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  }
  
  .card-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3px;
  }
  
  .card-info i {
  color: #333;
  margin-right: 8px;
  vertical-align: middle;
  }
  
  .cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .cta-button:hover {
  background-color: #fff;
  color: #333;
  }
  
  .card-info .date {
  font-size: 0.875rem;
  color: #180fbb;
  margin-top: 8px;
  }
  
  /* ---------------------------------------------media queries-------------------------------------*/
  @media screen and (max-width: 767px) {
  .card {
  flex: 0 0 calc(50% - 1rem);
  }
  }
  
  @media screen and (max-width: 480px) {
    .card {
    flex: 0 0 calc(100% - 1rem);
    }
    }
    
    /* ---------------------------------------------modal-------------------------------------*/
    .modal {
      display: none;
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.7);
    }
    
    .modal-content {
      background-color: white;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      max-width: 600px;
      position: relative;
    }
    
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      top: 10px;
      right: 15px;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    

/* ---------------------------------------------Background section-------------------------------------*/
/* ---------------------------------------------Background section-------------------------------------*/

/* 为每个section添加背景 */


.bg-success {
    background-color: #28a745;
}




/* 自定义背景图片 */


/* ---------------------------------------------Nav section-------------------------------------*/

/* ---------------------------------------------EDUCation section-------------------------------------*/