body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


html,
body {
    height: 100%;
}

.container {
    max-width: 100%;
    padding: 0;
}
/* --------------------------------------------- section-----------------------------------------------*/

section {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* ---------------------------------------------Home section-------------------------------------*/
h1 {
    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);

}


h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#home {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

#home video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center top;
}


  #home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-content p {
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: #e5e7e5;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}



#home-heading {
    color: #ffffff;
}

#home img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 1rem;
}

#home-text {
    color: #ffffff;
    font-size: 1.5rem;
}

/* ---------------------------------------------Skill section-------------------------------------*/
/* Skills Section */

/* ---------------------------------------------Project section-------------------------------------*/


/* ---------------------------------------------contact section-------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


/* ---------------------------------------------Background section-------------------------------------*/

/* 为每个section添加背景 */
.bg-light {
    background-color: rgb(255, 255, 255);
}

.bg-dark {
    background-color: #343a40;
}

.bg-primary {
    background-color: #007bff;
}

.bg-success {
    background-color: #28a745;
}




/* 自定义背景图片 */


/* ---------------------------------------------Nav section-------------------------------------*/

/* ---------------------------------------------EDUCation section-------------------------------------*/
