body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


html,
body {
    height: 100%;
}

.container {
    max-width: 100%;
    padding: 0;
}

/* --------------------------------------------- section-----------------------------------------------*/

section {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------Home section-------------------------------------*/
h1 {
    font: 120px/1.1em 'Kaushan Script', sans-serif;
    color: #fff;
    position: relative;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

h2 {
    font-family: 'ExtraBold 800 Italic', sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin: 0 auto;
    width: 70%;
    display: inline-block;
    white-space: nowrap;
}

.parent-container {
    text-align: center;
}


#home {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    z-index: -1;
}

#home video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#home-heading {
    color: #ffffff;
}

#home img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 1rem;
}

#home-text {
    color: #ffffff;
    font-size: 1.5rem;
}

/* ---------------------------------------------about section-------------------------------------*/
#about {
    background-image: url('../img/aaa.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
.btn-primary:hover {
    background-color: #17a2b8;
    background-image: linear-gradient(to bottom, #17a2b8, #127e8a);
    border-color: #127e8a;
}

#about h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

#about p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
}

#about img {
    max-width: 70%;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  #about img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  
  
  


.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeInDown {
    animation-name: fadeInDown;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

.animate__fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* ---------------------------------------------Project section-------------------------------------*/


/* ---------------------------------------------contact section-------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


/* ---------------------------------------------Background section-------------------------------------*/

/* 为每个section添加背景 */
.bg-light {
    background-color: rgb(255, 255, 255);
}

.bg-dark {
    background-color: #343a40;
}

.bg-primary {
    background-color: #007bff;
}

.bg-success {
    background-color: #28a745;
}




/* 自定义背景图片 */


/* ---------------------------------------------Nav section-------------------------------------*/

/* ---------------------------------------------EDUCation section-------------------------------------*/