<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <a href="https://twitter.com/" class="animate__animated animate__rubberBand"><i
                        class="fab fa-twitter fa-2x mx-3"></i></a>
                <a href="https://linkedin.com/in/fang-haibo" class="animate__animated animate__rubberBand"><i
                        class="fab fa-linkedin fa-2x mx-3"></i></a>
                <a href="https://github.com/fangbo13" class="animate__animated animate__rubberBand"><i
                        class="fab fa-github fa-2x mx-3"></i></a>
                <a href="https://stackoverflow.com/" class="animate__animated animate__rubberBand"><i
                        class="fab fa-stack-overflow fa-2x mx-3"></i></a>
            </div>
        </div>
        <div class="row justify-content-center" id="copyright">
            <div class="col-md-8 text-center mt-3">
                <p>&copy; 2023 My Website. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
