{% extends "base.html" %}

{% load static %}


{% block CSS %}
<link rel="stylesheet" href="{% static 'css/welcome.css' %}">
{% endblock %}


{% block content %}


<!-- Personal Introduction -->
<section id="home">
  <div>
    <img class="home-background" src="{{ home.home_background.url }}" alt="home-background">
  </div>
  <div id="home-content" data-aos="fade-up" role="main">
    <h1 id="home-heading" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      {{ home.heading }}
    </h1>
    <img class="home-photo" src="{{ home.home_photo.url }}" alt="Haibo Fang's photo" data-aos="zoom-in-up"
      data-aos-duration="1500">
    <div class="home-parent-container">
      <h3 data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">{{ home.Eng_content }}
      </h3>
      <h4 data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">{{ home.Ire_content }}
      </h4>
    </div>
  </div>
</section>



<!-- About -->
<section id="about" class="about-section" style="background-image: url('{{ about.about_background.url }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="about-title">{{ about.about_title }}</h2>
        <p class="about-text">
          {{ about.text_up }}
        </p>
        <p class="about-text">
          {{ about.text_down }}
        </p>
        <a href="{{ download.download.url }}" download alt="Download Resume" class="btn btn-primary animate__animated"
          download>Download Resume</a>
      </div>
      <div class="col-md-6">
        <img src="{{ about.about_photo.url }}" alt="haibo_fang" class="img-fluid animate__animated">
      </div>
    </div>
  </div>
</section>




<!-- resume -->
<section id="resume">
  <div class="resume-container">
    <!-- <h2 class="resume-section-title">RESUME</h2> -->
    <div class="resume-sections">
      <div class="resume-education-section">
        <h3 class="resume-section-heading">Education Background</h3>
        <ul class="resume-education-list">
          {% for education in education_list %}
          <li>
            <div class="timeline"></div>
            <h4 class="resume-degree-title">{{ education.degree_title }}</h4>
            <p class="resume-school-name">{{ education.school_name }}</p>
            <p class="resume-graduation-date">Graduated: {{ education.graduation_date }}
              {% if education.award %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Award: {{ education.award }}
              {% endif %}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume-skills-section">
        <h3 class="resume-section-heading">Skills</h3>
        <ul class="resume-skills-list">
          {% for skill in skills_list %}
          <li class="skill-item">
            <span><i class="{{ skill.skill_icon }}"></i> {{ skill.skill_name }}</span>
            <div class="skill-rating">
              <div class="skill-bar" data-level="{{ skill.skill_level }}"></div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="resume-projects-section">
      <h3 class="resume-section-heading">Projects</h3>
      <ul class="resume-projects-list">
        {% for description in descriptions %}
        <li>
          <div class="timeline"></div>
          <div class="resume-project-content">
            <div class="resume-project-title-container">
              <h4 class="resume-project-title">{{ description.desc_title }}</h4>
            </div>
            <div class="resume-project-description-container">
              <p class="resume-project-description">{{ description.description }}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="resume-certifications-section">
      <h3 class="resume-section-heading">Certifications</h3>
      <ul class="resume-certifications-list">
        {% for certification in certifications_list %}
        <li>{{ certification.certification }}</li>
        {% endfor %}
      </ul>

    </div>
  </div>
</section>



<!-- works -->
<section id="works">
  <div class="gallery-container">
    {% for project in projects_list %}
    <div class="card">
      <img class="thumbnail" src="{{ project.project_images.url }}" alt="Project Image {{ forloop.counter }}">
      <div class="card-info">
        <h3><i class="fas fa-project-diagram"></i> {{ project.project_title }}</h3>
        <p><i class="fas fa-info-circle"></i> {{ project.project_description }}</p>
        <p class="date">Completed on: {{ project.completion_date }}</p>
        <button class="cta-button" data-custom-description="{{ project.custom_description }}"
          data-project="project{{ forloop.counter }}">View Details</button>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="project-title"></h2>
      <p id="custom-description"></p>
      <p id="project-date"></p>
      <img id="project-image" src="" alt="Project Image" style="width: 80%; height: auto;" />
      <a id="project-link" href="{{ project.project_url }}" target="_blank"><button>Go Website</button></a>
    </div>
  </div>
</section>


<!-- Contact -->
<section id="contact" class="bg-success">
  <h2 data-aos="fade-down">Contact Me</h2>
  <p data-aos="fade-right"><i class="fas fa-envelope"></i> <a style="text-decoration: none; color: inherit;"
      href="mailto:haibo_fang527@outlook.com">Email: haibo_fang527@outlook.com</a></p>
  <p data-aos="fade-left"><i class="fas fa-phone"></i> Phone: +86 18701127754</p>
  <p data-aos="fade-up"><i class="fas fa-phone"></i> Phone: +44 7421724150</p>
</section>


<script>
  AOS.init();
</script>
{% include 'intro/footer.html' %}

{% endblock %}


{% block js %}
<script src="{% static 'js/welcome.js' %}"></script>
<script src="{% static 'js/_navbar.js' %}"></script>

{% endblock %}