{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Link to welcome.css -->
<link rel="stylesheet" href="{% static 'css/welcome.css' %}">

<!-- Personal Introduction -->
<section id="home">
  <video autoplay loop muted playsinline>
    <source src="{% static 'videos/cloud.mp4' %}" type="video/mp4">
  </video>
  <div id="home-content" data-aos="fade-up">
    <h1 id="home-heading" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Hi, I'm Haibo Fang
    </h1>
    <img src="{% static 'img/haibo.jpg' %}" alt="Your photo" data-aos="zoom-in-up" data-aos-duration="1500">
    <div class="home-parent-container">
      <h3 data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">Welcome to My
        Portfolio Website</h3>
      <h4 data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">Fáilte chuig mo
        láithreán gréasáin Portfóilió</h4>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="about-title">About Me</h2>
        <p class="about-text">
          "Hello! I'm a driven master's student at Trinity College Dublin, passionate about data analysis, intelligent
          solutions, and teamwork. With a BSc in Computer Science from Coventry University,
          I'm excited to apply these skills to my future career and make an impact."
        </p>
        <p class="about-text">In my leisure time, I actively pursue health, fitness, and outdoor activities to maintain
          my well-being. I am eager to embrace growth and challenges in my upcoming professional journey."</p>
        <a href="{{ MEDIA_URL }}Trinity_Main_Logo.jpg" alt="Download" class="btn btn-primary animate__animated"
          download>Download Resume</a>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/fangbo.jpg' %}" alt="haibo_fang" class="img-fluid animate__animated">
      </div>
    </div>
  </div>
</section>

<!-- resume -->
  <section id="resume">
    <div class="resume-container">
      <!-- <h2 class="resume-section-title">RESUME</h2> -->
      <div class="resume-sections">
        <div class="resume-education-section">
          <h3 class="resume-section-heading">Education</h3>
          <ul class="resume-education-list">
            <li>
              <div class="timeline"></div>
              <h4 class="resume-degree-title">Master of Science in Data Science</h4>
              <p class="resume-school-name">Trinity College Dublin</p>
              <p class="resume-graduation-date">Expected graduation: July 2024</p>
            </li>
            <li>
              <div class="timeline"></div>
              <h4 class="resume-degree-title">Bachelor of Science in Computer Science</h4>
              <p class="resume-school-name">Coventry University</p>
              <p class="resume-graduation-date">Graduated: July 2022.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Award: First Class</p>
            </li>
          </ul>
        </div>
        <div class="resume-skills-section">
          <h3 class="resume-section-heading">Skills</h3>
          <ul class="resume-skills-list">
            <li class="skill-item">
              <span>HTML</span>
              <div class="skill-rating">
                <div class="skill-bar" style="width: 90%;"></div>
              </div>
            </li>
            <li class="skill-item">
              <span>CSS</span>
              <div class="skill-rating">
                <div class="skill-bar" style="width: 80%;"></div>
              </div>
            </li>
            <li class="skill-item">
              <span>JavaScript</span>
              <div class="skill-rating">
                <div class="skill-bar" style="width: 60%;"></div>
              </div>
            </li>
            <li class="skill-item">
              <span>Django</span>
              <div class="skill-rating">
                <div class="skill-bar" style="width: 70%;"></div>
              </div>
            </li>
            <li class="skill-item">
              <span>React</span>
              <div class="skill-rating">
                <div class="skill-bar" style="width: 40%;"></div>
              </div>
            </li>
          </ul>  
        </div>
      </div>
      <div class="resume-certifications-section">
        <h3 class="resume-section-heading">Certifications</h3>
        <ul class="resume-certifications-list">
          <li>Microsoft Certified: Azure AI Fundamentals</li>
          <li>Google Cloud Certified: Professional Data Engineer</li>
        </ul>
      </div>
      <div class="resume-projects-section">
        <h3 class="resume-section-heading">Projects</h3>
        <ul class="resume-projects-list">
          <li>
            <div class="timeline"></div>
            <h4 class="resume-project-title">Django Web Development</h4>
            <p class="resume-project-description">Highly skilled in the Django framework, capable of rapidly creating secure, scalable, and high-quality websites and applications. 
              Proficient in the Model-View-Controller (MVC) architecture and Object-Relational Mapping (ORM) concepts, and adept at utilizing Django's template language, forms, routing, and other components to craft complete and polished websites and applications.</p>
          </li>
          <li>
            <div class="timeline"></div>
            <h4 class="resume-project-title">DRF Framework</h4>
            <p class="resume-project-description">Adept at utilizing the Django REST framework (DRF) to construct robust, scalable, and high-performance RESTful APIs. 
              Proficient in serialization, views, routing, authentication, and other key concepts, and highly skilled in leveraging the rich set of features and components offered by DRF to create custom APIs.</p>
          </li>
          <li>
            <div class="timeline"></div>
            <h4 class="resume-project-title">Data Analysis</h4>
            <p class="resume-project-description">Proficient in utilizing Python data analysis tools, such as Pandas and NumPy, to extract, process, and analyze data from diverse sources.
               Proficient in employing statistical analysis, data visualization, and machine learning techniques to explore data and derive meaningful insights. Familiar with an array of data analysis methods and techniques, such as regression analysis, clustering analysis, and classification analysis.</p>
          </li>
          <li>
            <div class="timeline"></div>
            <h4 class="resume-project-title">Machine Learning (Junior)</h4>
            <p class="resume-project-description">Knowledgeable in fundamental machine learning skills, including familiarity with common machine learning algorithms and models, data preprocessing, and feature engineering. 
              Capable of utilizing Python's machine learning libraries, such as Scikit-learn, to develop basic prediction models and classifiers. 
              These skills can be leveraged to create simple machine learning applications and perform fundamental tasks.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

<!-- work -->
<section id="work" class="bg-light">
  <h3>work</h3>
</section>


<!-- Contact -->
<section id="contact" class="bg-success">
  <h2 data-aos="fade-down">Contact Me</h2>
  <p data-aos="fade-right"><i class="fas fa-envelope"></i> <a style="text-decoration: none; color: inherit;" href="mailto:haibo_fang527@outlook.com">Email: haibo_fang527@outlook.com</a></p>
  <p data-aos="fade-left"><i class="fas fa-phone"></i> Phone: +86 18701127754</p>
  <p data-aos="fade-up"><i class="fas fa-phone"></i> Phone: +44 7421724150</p>
</section>


<script>
  AOS.init();
</script>
{% include 'intro/footer.html' %}

{% endblock %}


{% block js %}
<script src="{% static 'js/welcome.js' %}"></script>
<script src="{% static 'js/_navbar.js' %}"></script>
{% endblock %}